<h1>Gulp Asset Pipeline on Rails</h1>
<img src="<%= gulp_asset_path('images/gulp.png') %>" alt="">
<p><a href="https://github.com/greypants/gulp-rails-pipeline">Ditch the Rails Asset Pipeline and roll your own with Gulp.</a></p>
<i class="icon -facebook"></i>
<i class="icon -twitter"></i>
<i class="icon -linkedin"></i>
<i class="icon -pinterest"></i>
