<h1>Gulp Asset Pipeline</h1>
<img src="<%= gulp_asset_path('images/gulp.png') %>" alt="">
<p>Say goodbye to the Rails Asset Pipeline headaches forever.</p>
<i class="icon -facebook"></i>
<i class="icon -twitter"></i>
<i class="icon -linkedin"></i>
<i class="icon -pinterest"></i>
