<h1>Gulp Asset Pipeline on Rails</h1>
<img src="<%= gulp_asset_path('images/gulp.png') %>" alt="">
<p><a href="https://github.com/greypants/gulp-rails-pipeline">Ditch the Rails Asset Pipeline and roll your own with Gulp.</a></p>
<p>
  <a href="https://www.facebook.com/vigetlabs" class="icon -facebook"></a>
  <a href="https://twitter.com/viget" class="icon -twitter"></a>
  &lt;-- generated icon font
</p>
<p>Made with ♥ at <a href="http://viget.com">Viget</a></p>
